body {
    border: 0px;
    margin: 0px;
    background: #CCCCCC;
}

#container {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#myCanvas {
  z-index: 1;
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  background: #FFF;
}
